<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    new car here
    <div class="row">
        {% csrf_token %}
        <div>
          Hi {% if car %}
          <h4>Success</h4>
          <table>
            <tbody>
              <tr>
                {% for st in car %}
                <td>{{st.carname}}</td>
                <td>{{st.cardesc}}</td>
                <td><img src="{{st.image}}" alt=""></td>
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h4>fail</h4>
          {% endif %}
        </div>
      </div>
</body>
</html>